.carousel {
    position: relative;
    width: 80%; /* Ancho del carrusel */
    height: auto; /* Alto del carrusel */
    overflow: hidden; /* Oculta las imágenes fuera del contenedor */
    margin-left: 10%;
}

.carousel-images {
    display: flex;
    width: 100%; /* Tres imágenes, cada una ocupa el 100% del ancho */
    height: 100%;
    transition: transform 2s ease-in-out; /* Transición suave entre las imágenes */
}

.carousel-images img {
    width: 100%;
    height: 600px; /* Mantiene la proporción de la imagen */
}