:root{
    --Beige-color:#F0E4D1;
    --Gray-color:#495B6B;
    --LightBlue-color:#2A90EB;
    --Gold-color:#967A4D;
    --LightGray-color:#495B6B;
    --DarkGray-color:#413D37;
    --white-color:#ffff;
    --black-color:#000000;
    --LightGold-color:#e6d330;
}

@font-face {
    font-family: 'Lato';
    src: url(/Resources/Font/DESIGNER.otf);
}


/* Esta sección es para el letrero y slogan de la empresa */

.HeadLine{
    cursor: default;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--Beige-color);
    border-bottom: var(--black-color) 5px solid;
    /* flex-direction: column; */
}

.MainSign{
    width: 50%;
    margin: 1%;
}

.MainSign > h1{
    font-size: 80px;
    font-family: 'Lato';
}

.MainSign > h3{
    font-size: 20px;
}

.MainSign > h1:hover{
    transform: scale(1.1);
    color: var(--DarkGray-color);
}

/* Líneas de separación*/


.BlackLine{
    height: 8px;
    width: auto;
    background-color: #000000;
}

.SecondBlackLine{
    height: 5px;
    width: auto;
    background-color: #000000;
}

.NoneLine{
    height: 7px;
    width: auto;
}

/* Apartado de los productos */

.Products{
    margin: 3% /*top, right, bottom, left*/
}

.TShirt{
    display: flex;
    justify-content: center;
}

.TShirt h2{
    font-size: 70px;
}


